/* Make changes in Container2 */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.header {
  background-color: #d91d1d;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-size: 18px;
}

.pokemon-list {
  padding: 20px;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
  justify-content: center;
  padding: 0 50px;
  
}

.list-wrapper {
  display: contents;
}

.pokemon-card {
  background: white;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000000;

}

.pokemon-card:hover {
  transform: translateY(-5px);
}

.img-wrap {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pokemon-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: #333;
}

.pokemon-card p {
  font-size: 14px;
  color: gray;
}
